---
import ArticleCard from '../../../../components/ArticleCard.astro';
import Side from '../../../../components/Side.astro';
import BlogLayout from '../../../../layouts/BlogLayout.astro';
import Pagination from '../../../../components/Pagination.astro';
import { getArticles, getCategories } from '../../../../lib/blog/newt';
import H2 from '../../../../components/atoms/H2.astro';
export const prerender = true;
export const getStaticPaths = async () => {
  const limit = Number(import.meta.env.NEWT_BLOG_ARTICLES_PER_PAGE_LIMIT) || 10;
  const categories = await getCategories();
  const path = [];

  for (const category of categories) {
    const { total } = await getArticles({ category: category._id });
    const maxPage = Math.ceil(total / limit);
    const pages = Array.from({ length: maxPage }, (_, index) => index + 1);
    for (const page of pages) {
      const results = await getArticles({
        category: category._id,
        limit,
        skip: limit * (page - 1),
      });
      path.push({
        params: {
          category: category.slug,
          page: String(page),
        },
        props: {
          category: category,
          articles: results.articles,
          currentPage: page,
          totalPages: maxPage,
        },
      });
    }
  }
  return path;
};
const { category, articles, currentPage, totalPages } = Astro.props;
---

<BlogLayout title="Blog" description="ブログ">
  <div class="mx-auto max-w-7xl px-4 pt-20 sm:px-6 lg:px-8">
    <div class="lg:flex lg:space-x-8">
      <main class="w-full lg:w-3/4">
        <H2 id="blog-category-list-title">カテゴリ：{category.name}</H2>
        {articles.map((article) => <ArticleCard article={article} />)}
        <Pagination
          totalPages={totalPages}
          currentPage={currentPage}
          basePath={`/blog/category/${category.slug}`}
        />
      </main>
      <Side />
    </div>
  </div>
</BlogLayout>
