---
import { getArchives, getTags, getCategories } from '../lib/blog/newt';
import H3 from './atoms/H3.astro';

const categories = await getCategories();
const tags = await getTags();
const archives = await getArchives();
---

<aside class="hidden rounded-lg bg-gray-50 p-6 shadow lg:block lg:w-1/4">
  <!-- カテゴリ -->
  <div class="mb-10 last:mb-0">
    <svg
      class="mr-2 h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
      fill="#333333"
    >
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path
        d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58s1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41s-.23-1.06-.59-1.42zM13 20.01L4 11V4h7v-.01l9 9-7 7.02z"
      ></path>
      <circle cx="6.5" cy="6.5" r="1.5"></circle>
    </svg>
    <H3 id="side-title-category"> 主なカテゴリ </H3>
    <ul class="ml-6 flex flex-wrap lg:block">
      {
        categories.map((category) => (
          <li class="mb-1 mr-4 text-[1.4rem] lg:mr-0">
            <a
              class="text-gray-800 hover:underline"
              href={`/blog/category/${category.slug}`}
            >
              {category.name} [{category.count}]
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- タグ -->
  <div class="mb-10 last:mb-0">
    <svg
      class="mr-2 h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
      fill="#333333"
    >
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path
        d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58s1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41s-.23-1.06-.59-1.42zM13 20.01L4 11V4h7v-.01l9 9-7 7.02z"
      ></path>
      <circle cx="6.5" cy="6.5" r="1.5"></circle>
    </svg>
    <H3 id="side-title-tag"> 主なタグ </H3>
    <ul class="ml-6 flex flex-wrap lg:block">
      {
        tags.map((tag) => (
          <li class="mb-1 mr-4 text-[1.4rem] lg:mr-0">
            <a
              class="text-gray-800 hover:underline"
              href={`/blog/tag/${tag.slug}`}
            >
              {tag.name} [{tag.count}]
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- アーカイブ -->
  <div class="mb-10 last:mb-0">
    <svg
      class="mr-2 h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
      fill="#333333"
    >
      <path d="M0 0h24v24H0V0z" fill="none"></path>
      <path
        d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V10h16v11zm0-13H4V5h16v3z"
      ></path>
    </svg>
    <H3 id="side-title-archive"> アーカイブ </H3>
    <ul class="ml-6 flex flex-wrap lg:block">
      {
        archives.map((archive) => (
          <li class="mb-1 mr-4 text-[1.4rem] lg:mr-0">
            <a
              class="text-gray-800 hover:underline"
              href={`/blog/archives/${archive.year}`}
            >
              {archive.year} [{archive.count}]
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
